name: "Update shows in README"

on:
  issues:
    types:
      - opened
      - edited
      - closed
      - reopened
      - labeled
      - unlabeled

  workflow_dispatch: {}

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: node .github/actions/update-upcoming-events.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
